* {
  list-style: none;
}

.hello {
  color: red;
}

.leaderboar-table {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.scores {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border: 3px solid orange;
  border-radius: 10px;
}

ul {
  padding: 10px;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-submit input {
  margin: 5px;
  padding: 5px 10px;
  width: 300px;
}

.form-submit button {
  margin-right: auto;
}

.leaderboar-table h3 {
  color: orange;
}

.leaderboar-table input {
  border: 1px solid orange;
  padding: 5px;
  border-radius: 4px;
  color: orange;
}

.leaderboar-table button {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 10px;
  padding: 10px;
  color: white;
  background-color: gray;
  cursor: pointer;
  border: 0 solid orange;
  border-radius: 5px;
}

body {
  background-color: rgb(235, 239, 243);
}

.scores li {
  color: gray;
  margin: 2px;
  font-size: 20px;
}

.refresh {
  margin: 0 15px !important;
}
